.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

/* .card{
    width: 18rem;
} */
.price-content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.price-content span:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.price-content span:nth-child(2) {
    text-decoration: line-through;
    color:  #69797E;
}

.star-content {
    margin: 5px 0;
}

@media screen and (min-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Cuatro columnas en pantallas grandes */
@media screen and (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
