
:root{
    --color: white;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--color);
    gap: 15px;
    padding: 10px;
}

header .user-menu{
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 15px;

}

header .user-menu a{
    display: block;
}

header .search-contenedor{
    flex-grow: 1;
}

main{
    flex-grow: 1;
    padding: 20px;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a{
    color: var(--color);
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #0a3622;
}

footer div strong{
    margin-bottom: 20px;
    display: block;
    color: var(--color);
}

/*Reto4*/

.offcanvas-body a{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: #0a3622;
    font-size: 18px;
}

.offcanvas-body a:hover{
    background-color: #0a3622;
    color: white;
    border-radius: 5px;
    transition: .3s ease all;
}

.carousel-item img{
    height: 250px;
    object-fit: none;
}

.d-block{
    width: 2500px;

}