@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --primary-color: #3f51b5;
    --secondary-color: #eaeaea;
    --footer-background-color: #222f3e;
}

body a {
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    gap: 12px;
    padding: 0 16px;
    background-color: #c8d6e5;
}
header .search-wrapper{
    flex-grow: 1;
}

.offcanvas-body a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: var(--primary-color);
    font-size: 18px;

}

.offcanvas-body a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    transition: .3s ease all;
}

main{
    padding: 18px;

}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li a{
    color: #eee;
    text-decoration: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 20px;
    background-color: #222f3e;
}

footer div strong{
    margin-bottom: 20px;
    display: block;
    color: #eee;
}
/*Mantener el footer abajo*/
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows:
        auto 1fr auto;
}

