:root {
    --primary-color: #3f51b5;
    --secondary-color: #eaeaea;
    --footer-background-color: #222f3e;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--primary-color);
    padding: 0 20px;
}

header .search-contenedor {
    flex-grow: 1;
}

header .user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .user-menu > a {
    color: var(--secondary-color);
}

main {
    padding: 20px;
}

footer {
    background-color: var(--footer-background-color);
    color: #eee;
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer div strong {
    margin-bottom: 20px;
    display: block;
}

footer a {
    color: var(--secondary-color);
}

.offcanvas-body a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: var(--primary-color);
    font-size: 18px;

}

.offcanvas-body a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    transition: .3s ease all;
}



#whatsapp-button {
    font-size: 20px;
}

.contact-wrapper {
    display: flex;
    gap: 15px;
}

.contact-wrapper form {
    width: 400px;
    padding: 20px;
}

.contact-wrapper iframe {
    flex: 1;
}


#transaction-list-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

#transaction-list-info li b {
    text-transform: uppercase;
}

#icono-transaccion {
    margin: 20px 0;
}
